<!--Set up-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sqlalchemy-challenge</title>
</head>

<!--Adding headers, seperating user input, adding links to new tabs-->
<body>
    <h2>Results from Last Year of Data Collected</h2>
    <a href='/api/v1.0/precipitation' target="_blank">Precipitation of all Stations</a>
    <br>
    <a href='/api/v1.0/stations' target="_blank">All Station list</a>
    <br>
    <a href='/api/v1.0/tobs' target="_blank">Temperatures of Most Active Station</a>
    <hr>
    <h2>User Input Date(s)</h2>
    <b>Temps: Min, Max, Avg</b>
    <br>
    <a href='/api/v1.0/2016-08-23' target="_blank">Input Start Date - End of Data Date</a> - Example Start Date: 2016-08-23
    <br>
   <a href='/api/v1.0/2015-09-10/2016-08-23' target="_blank">Input Start Date/Input End Date</a> - Example Start/End Date: 2015-09-10/2016-08-23
   <br>
   <br><b>Format</b><br>
    [ <br>
    Min Temp,<br>
    Max Temp,<br>
    Avg Temp <br>
    ]
</body>
</html>